<h1>Login as a existing user</h1>

<div id="auth_login_form">
    <input type="email" name="" id="login_email" placeholder="Email">
    <input type="password" name="" id="login_password" placeholder="Password">

    <button>Login</button>
</div>