@model User
<h1>Register as a new user</h1>

<form action="@Url.Action("Index","Home")" method="post">
    <div id="auth_register_form">
        <input type="text" name="Username" id="register_name" placeholder="Username">
        <input type="email" name="Email" id="register_email" placeholder="Email">
        <input type="password" name="Password" id="register_password" placeholder="Password">
        <input type="password" name="ConfirmPassword" id="register_confirm_password" placeholder="Confirm Password">

        <button>Register</button>
    </div>
</form>
