@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To MetaUser</h1>
    <p>This is a ASP.NET Application that I made for the first time.</p>

    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index">
        <button class="home_button">
            Register as a New User
        </button>
    </a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">
        <button class="home_button">
            Login
        </button>
    </a>
</div>
